# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environments
venv/
env/
*.env

# Compiled source
__pycache__/
*.pyc
*.pyo

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution
dist/
build/
*.egg-info/

# .pkl files
*.pkl

# macos files
.DS_Store
